@import url('https://fonts.googleapis.com/css?family=Oxygen');

html,body{
	margin: 0;padding: 0;
	font-family: 'Oxygen', sans-serif;
	height: 100%;
}
.page-wrap{
	min-height: 100%;
	position: relative;
	width: 100%;
}
.user-menuS{
	margin-left: 200px;
}
.inside{
	padding-bottom: 10px;
	height: 100%;
}
/* Início do navbar*/
header .navbar-color{
	background: linear-gradient(to top, #018f85, #24bfb9); 
}
header .dropdown-menu{
	margin-top: 10px;
}
.linkDrop{
	color: #018f85;
}
.linkDrop:hover{
	color: #18c0ae;
}
.user-menu{
	margin-left: 200px;
}
.mostrar-nav{
	display: none;
}
header .dropdown-divider{
	padding: 0;
	margin:0;
	color: #018f85;
}
header .dropdown-item:hover{
	background: #e7fafa;
}
.menu-img{
	cursor: pointer;
}
.link {
    color: #FFF;
}
header a{
	display: block;
	padding: 17px 20px;
	line-height: 30px;
}
header i{
	font-size: 17px;
}
header span{
	color: #FFF;
	margin-left: 3px;
}
header span:hover{
	color: #9ef9f9;
}
li.user i{
	font-size: 27px;
}
li.user span{
	margin-right: 10px;
}
/* Fim do navbar*/

/* Início Rodapé*/
footer {
	background: #e6e6e6;
	height: 100px;
	margin-top: 15px;
}
p{
	font-weight: bold;
	line-height: 8px;
	font-size: 11pt;
	margin-top: 20px;
}
p.direito{
	font-size: 10pt;
}
footer img{
	margin-top: -2px;
}
.left{
	margin-left: 20px;
}
.center{
	margin-left: 290px;
}
.right{
	margin-left: 400px;
}
/* Fim Rodapé*/

/* Início da Agenda*/
#calendar {
   	max-width: 1240px;
   	margin: auto;
    color: #018f85;
    padding-top: 50px;
}
.conteudo-agenda{
	background: #f2f2f2;
	margin-top: 110px;
	border-radius: 3px;
	box-shadow: 1px 1px #e6e6e6;
}
.cabecalho-conteudo{
  	background: #018f85;
  	height: 38px;
  	border-radius: 3px;
	box-shadow: 1px 1px #e6e6e6;
}
.cabecalho-conteudo i{
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
}
.btn-verde{
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 47px;
	padding-right: 47px;
	background: #2E8B57;
}
.btn-secondary{
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 47px;
	padding-right: 47px;
}
.btn-verde:hover{
	background: #1e7135;
}
.btn-azul{
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 10px;
	margin-left: 10px;
	background: #1b689e;
}
.btn-azul:hover{
	background: #1e71ac;
}
h3{
	font-size: 12pt;
	color: #FFF;
	margin-left: 35px;
	margin-top: -24px;
}
table{
	background: #FFF;
}
.atendido{
	color: #4169E1;
}
.confirmado{
	color: #228B22;
}
.confirmar{
	color: #C71585;
}
.desmarcou{
	color: #FFD700;
}
.ematendimento{
	color: #808080;
}
.faltou{
	color: #8B0000;
}
/* Fim da Agenda*/

/* Início Modal*/

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
section .modal-body{
    height: 460px;
    overflow-y: auto;
}
.modalHeader{
  	background: #018f85;
  	border-radius: 3px;
  	height: 50px;
}
.modal-footer{
	background: #f2f2f2;
	border-top: 1px solid #ccc;
	border-radius: 3px;
}

div.modalHeader h3{
	color: #FFF;
	margin-top: 5px;
	font-size: 13pt;
}
div.modalHeader .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  margin-top: -55px;
  margin-right: 6px;
}

div.modalHeader button{
	color:#FFF;
}
.icon-modal{
	padding: 8px;
	font-size: 22px;
	color: #FFF;
}
.modal-body{
	background: #f2f2f2;
}
div.modal-body i{
	font-size: 15pt;
	color: #808080;
	padding-right: 8px;
}
div.modal-body label{
	color: #018f85;
	font-weight: bold;
	font-size: 12pt;
}
.btn-editar{
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 47px;
	padding-right: 47px;
	background: #f38f31;
}
.btn-editar:hover{
	background: #dd750d;
}
.btn-excluir{
	background: #be3624;
	margin-top: 10px;
	padding-left: 47px;
	padding-right: 47px;
}
.btn-excluir:hover{
	background: #B22222;
}

/* Fim Modal*/


/*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) and (max-width: 1199.98px) {
     .icon{
     	display: none;
     }
     .mostrar-nav{
     	display: block;
     }
     .mostrar-rodape{
     	display: none;
     }
     .user-menu{
		margin-left: 0px;
	}
}
